#header h1 {
    font-size: 46px;
}

#TOC {
    margin: 30px 0;
}

table {
    font-size: 85%;
}

pre {
    font-size: 75%;
}

.back-to-top {
    width: 150px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #2780e3;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding: 2px;
}

a.back-to-top:hover {
    color: #FFDC00;
    text-decoration: none;
}
