#header h1 {
    font-size: 46px;
}

h1 {
  font-size: 39px;
}

/*#TOC {
    margin: 30px 0;
}*/

table {
    font-size: 85%;
}

pre {
    font-size: 75%;
}

blockquote {
    font-size: 1em;
    margin-left: 4em;
    margin-right: 4em;
}

.tocify-header {
    margin-left: 5px !important;
    text-indent: 0;
}

.tocify-subheader {
    margin-left: 15px !important;
    text-indent: 0;
}

.tocify-subheader .tocify-subheader {
    margin-left: 25px !important;
    text-indent: 0;
}

.tocify-subheader .tocify-subheader .tocify-subheader {
    margin-left: 35px !important;
    text-indent: 0;
}

/*.back-to-top {
    width: 150px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #2780e3;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding: 2px;
}

a.back-to-top:hover {
    color: #FFDC00;
    text-decoration: none;
}*/

.datatables {
  margin-bottom: 10.5px;
}
