# OS X stuff
.DS_Store

# R stuff
.Rhistory
.Rapp.history
.Rproj.user

# Sublime Text stuff
*.sublime-workspace

# Sake stuff
.shastore

# Data stuff
Data/data_raw/External/*
!Data/data_raw/External/external_data.yml

Data/data_raw/IssueCrawler*/*

Data/data_raw/NGO\ lists/*
!Data/data_raw/NGO\ lists/ngo_lists.yml

Data/data_processed/*

Data/**.ods
Data/**.odb
Data/**.db

# Analysis
Analysis/**.html
!Analysis/html/*.html

# Writing
Writing/**.pdf
Writing/**.docx
Writing/**.html
Writing/**.tex
Writing/**/tex_out/*

# Output
# See individual Output/.gitignore files
#
# This works:
#   **/Output/*
# But adding this doesn't:
#   !**/Output/.gitignore

# Miscellaneous
Pre stuff/Comprehensive exam/Reading list/Examples/
Pre stuff/Comprehensive exam/Writing/Figures/Originals/
Pre stuff/**.pdf
Pre stuff/**.png
Pre stuff/**.docx
Administration/**.pdf
Administration/**.png
Administration/**.docx
Administration/**.pptx
Administration/**.html
Administration/**/tex_out/*
Sandbox/
vc.tex
twq15byyeardta.dta
