# ------------
# OS X stuff
# ------------
.DS_Store


# --------------
# Binary files
# --------------
**.pdf
**.png
**.doc*
**.ppt*
**.html
**.indd
**.ai


# ----------------------------------------
# -------------------
# Development stuff
# -------------------
# ----------------------------------------
# ---
# R
# ---
.Rhistory
.Rapp.history
.Rproj.user

# --------
# Python
# --------
**__pycache__*

# --------------
# Sublime Text
# --------------
*.sublime-workspace

# ---------------
# Make and sake
# ---------------
.shastore


# ----------------------------------------
# --------------------
# Data-related stuff
# --------------------
# ----------------------------------------
# ------
# Data
# ------
Data/**.ods
Data/**.odb
Data/**.db

Data/data_raw/External/*
!Data/data_raw/External/external_data.yml

Data/data_raw/IssueCrawler*/*

Data/data_raw/NGO\ lists/*
!Data/data_raw/NGO\ lists/ngo_lists.yml

Data/data_processed/*

# ----------------
# Protected data
# ----------------
Protected/*

# --------
# Survey
# --------
Data/Survey/mail_config.py
Data/Survey/Branding/*
Data/Survey/list/*
Data/Survey/*.log


# ----------------------------------------
# -----------------------
# Writing-related stuff
# -----------------------
# ----------------------------------------
# ----------
# Analysis
# ----------
Analysis/**.html
!Analysis/html/*.html

# ---------
# Writing
# ---------
# Output
# See individual Output/.gitignore files
#
# This works:
#   **/Output/*
# But adding this doesn't:
#   !**/Output/.gitignore
Writing/**.tex
Writing/**/tex_out/*
Writing/**/vc*

# ----------
# Graphics
# ----------
Graphics/*


# ----------------------------------------
# ---------------------
# Miscellaneous stuff
# ---------------------
# ----------------------------------------
Pre stuff/Comprehensive exam/Reading list/Examples/
Pre stuff/Comprehensive exam/Writing/Figures/Originals/
Administration/**.html
Administration/**/tex_out/*
Sandbox/
vc.tex
twq15byyeardta.dta
