# OS X stuff
.DS_Store

# Sake stuff
.shastore

# Output
# See individual Output/.gitignore files
#
# This works:
#   **/Output/*
# But adding this doesn't:
#   !**/Output/.gitignore

# Miscellaneous
Pre stuff/Comprehensive exam/Reading list/Examples/
Pre stuff/Comprehensive exam/Writing/Figures/Originals/
Pre stuff/**.pdf
Pre stuff/**.png
Pre stuff/**.docx
Administration/**.pdf
Administration/**.png
Administration/**.docx
Sandbox/
vc.tex
twq15byyeardta.dta

# R stuff
.Rhistory
.Rapp.history

# Miscellaneous data
Data/IssueCrawler*/*